<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>
  <div class='row'>
    <div class='col-xs-6'>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Information</h3>
        </div>
        <div class="panel-body">
          <div class="form-inputs">
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :email %>
            <%= f.input :role, collection: User.roles.keys.map { |k| [k.titleize,k] } if permitted_params.user_attributes.include? :role %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-6'>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Profile Image</h3>
        </div>
        <div class="panel-body">
          <div class="form-inputs">

            <div class="progress" id='progress-bar' style='display:none;'>
              <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 0%">
                <span class="sr-only" id='progress-bar-text'></span>
              </div>
            </div>

            <%= f.attachment_field :profile_image, direct: true %>
            <%= image_tag attachment_url(@user, :profile_image, :fill, 150, 150) if @user.profile_image %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
